html {
    background-color: black;

}

body {
    margin: 0;
    padding: 0;
    font-size: 1.3125rem;
    font-family: courier;
    color: white;
}


main {
        background-color: rgb(64, 64, 64);

}
img {
    max-width: 100%
}
a {
    text-decoration: none;
}



.container {
    display: flex;
    justify-content: center;
    padding: 0 1em;
    max-width: 80%;

}

.color-selector {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 2rem;
    font-size: 2rem;

}

#color-display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-col {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    height: 300px;
    min-width: 2rem;

}

.color {
    height: 100%;

    background-color: #F55A5A;
    border: 2px solid black;
}



.color-code {
    display: flex;
    align-items: center;
    color: white;
    font-family: bold;
    padding: 0 0.4rem;
    font-size: 1rem;
}




.btn {
    font-size: 1rem;
    padding: 0.4em 0.2em;
}

.color-btn {
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
}

select {
    padding: 0.4em 0.2em;
    font-size: 1rem;
}







.color-editor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.editor__inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.editor__display {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}




* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #3e4560;
    color: white;
    width: 800px;
    padding: 1em 2em;
    margin: 0 auto;
}
.container {
    padding: 0 10px;
}

.title {
    text-align: center;
    margin: 20px;
    color: #d6d5ac;
}

label {
    display: block;
    font-size: 20px;
    margin-bottom: 5px;
}

input {
    margin-bottom: 25px;
}

input[type="text"]{
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
}

.box {
    height:100px;
    width: 250px;
    background-color: #000;
    margin-bottom: 25px;
}

.toggle-text {
    font-size: 18px;
}

.toggle {
    display: flex;
    align-items: center;
    margin-bottom: 20px
}

.toggle-btn {
    height: 30px;
    width: 60px;
    background-color: gray;
    border-radius: 30px;
    padding: 5px;
    margin: 0 10px;
    cursor: pointer;
}

.inner-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    transition: all 250ms;
}

.toggle-btn.toggled > .inner-circle {
    transform: translateX(30px);
    background-color: #333;
}

.unselected {
    opacity: 0.25;
}
