:root {
    --clr-font: #ffffff;
    --clr-bg: #2c324f;
    --clr-body-bg: #1f233b;
    --clr-dark: #1c1f2b;
    --clr-shadow: #2c324f;
    --clr-hr: #333;
    --clr-accent: #1e2135b9;
    --bg: linear-gradient(130deg, rgba(44,50,79,1) 0%, rgba(35,41,66,1) 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
    background-color: #101f2c;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: var(--clr-body-bg);
}

img {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
}

.App {
    font-family: Roboto, Arial, sans-serif;
    color: var(--clr-font);
    background-color: var(--clr-bg);
    box-shadow: 0 0 40px #14141472;
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--bg);

}

.content-wrapper {
    padding: 1em 2em;
    overflow: hidden;
}

.app-title {
  font-size: 1.6rem;
  text-align: center;
  font-weight: 700;
  letter-spacing: -1px;
}


.title-banner {
  background: rgba(0, 0, 0, 0.381);
  padding: 1em 2em;
    position: relative;
  display: flex;
  justify-content: flex-start;
  gap: .6em;
  align-items: center;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  gap: .6em;
  align-items: center;
  padding: .2em 1em;
}
.title-logo {
  z-index: 5;
  width: 60px;
}






.color-theme-display {
  display: flex;
  width: 90%;
  margin-top: 2em;
  overflow: auto;
  /* overflow-x: scroll; */
 }

.controls-banner {
  margin-top: 2em;
  background: rgba(0, 0, 0, 0.267);
  padding: 1em 2em;
  border-radius: 25px;
  min-width: 300px;
  width: min-content;
  margin: 0 auto;
      display: flex;
    justify-content: center;
    gap: 3em;
}




.color-box {
  min-width: 150px;
  min-height: 100px;
  width: 200px;
  background-color: #000;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.color-col {
  background-color: #000;
}

.color-col-display {
  border: 1px solid rgba(0, 0, 0, 0.15);
  height: 400px;
  width: 100%;
}
.color-col-hex {
    background-color: rgba(0, 0, 0, 0.75);
    font-size: 1.1rem;
    text-align: center;
    padding: .4em 0;
    text-transform: uppercase;
}



.color-selector {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.altered-col {
  width: min-content;
}


@media (min-width: 0px) {
  .App {
    width: 400px;
  }
  .color-theme-display {
  flex-direction: column;
  width: 100%;
}
.color-col {
  width: 80%;
  margin: 0 auto;
  min-height: 50px;
}

}
@media (min-width: 400px) {
  .App {
    width: 80%;
    max-width: 1200px;
  }
  .color-theme-display {
    flex-direction: row;
    width: 100%;
    min-width: 100px;
    min-height: 300px;
}

}



.controls-banner {
  display: flex;
  flex-direction: row;


}
@media (max-width: 1000px) {
  .controls-banner {
    flex-direction: column;
    
  }
}
@media (max-width: 700px) {
  .controls-banner {
    flex-direction: column;
    
  }
}