:root {
  --clr-font: #fff;
  --clr-bg: #122738;
  --clr-accent: #3d3f54;
}


* {
  box-sizing: border-box;
}

html {
    background-color: #101f2c;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

img {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
}

.App {
    font-family: Roboto, Arial, sans-serif;
    color: var(--clr-font);
    background-color: var(--clr-bg);
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}


.header {
  position: relative;
  display: flex;
  justify-content: center;
  gap: .6em;
  align-items: center;
  padding: .2em 1em;
}
.header-logo {
  z-index: 5;
  width: 60px;
}
.color-text {
  font-size: 1.2rem;
  font-weight: 700;
  text-align: center;
}


.header-title {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -1px;
}


.color-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* height: 75px; */
}
.color-inputs {
  display: flex;
}

.color-picker {
  width: 40px;
  height: 40px;
}
.color-text {
  width: 100px;
  text-align: center;
}

.color-editor {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.container {
  margin: 0 auto;
}


.color-theme-display {
  display: flex;
  width: 90%;
  padding: 0 2em;
}


.color-altered-display {
  display: flex;
}

.altered-col {
  display: flex;
  flex-direction: column;
}

input, select {
  background-color: var(--clr-accent);
  color: var(--clr-font);
  border-radius: 5px;
  font-size: 1.1rem;
  max-width: 100px;
}
input[type=text] {
  font-weight: 400;
}

.color-box {
  min-width: 150px;
  min-height: 100px;
  background-color: #000;
  border: 1px solid rgba(0, 0, 0, 0.15);

}
.color-col {
  /* background-color: #000; */
  border: 1px solid rgba(0, 0, 0, 0.15);
}

.btn {
  color: var(--clr-font);
  background-color: var(--clr-accent);
  font-size: 1.2rem;
  padding: .4em .8em;
  border: none;
  border-radius: 15px;
}
.btn:hover {
  opacity: .8;
}


.toggle {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.theme-filters {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 0;
  align-items: center;
}




@media (min-width: 0px) {

  .App {
    width: 400px;
  }
  .color-theme-display {
  flex-direction: column;
  width: 100%;
}
.color-col {
  width: 80%;
  margin: 0 auto;
  min-height: 50px;
}

}
@media (min-width: 400px) {
  .App {
    width: 80%;
    max-width: 1200px;
  }
  .color-theme-display {
    flex-direction: row;
    width: 100%;
    min-width: 100px;
    min-height: 300px;
}

}